* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(62, 62, 68);
    color: white;
    background-size: cover;
    background-position: center;
}

/* ---- */
/* MENU */
/* ---- */

/* Dropdown Button */
.dropbtn 
{
    background-color: #b5446b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}
  
/* Links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: #b4aaaa;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #c02259;
}

/* ---- */
.main-title 
{
	text-align: center;
}
.contact-type
{
    display: block;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 1.1rem;
}
.contact-a 
{
	float: right;
}
.links-contact{
    color: white;
    text-decoration: underline;
    text-align: center;
}

/* -------- */
/* TEXT BOX */
/* -------- */
.toggle
{
    display: none;
}
/* eco-box */
.lbl-toggle-e 
{
	display: block;
  	text-align: left;
	padding: 1px;
	width: 70%;
	margin:10px auto;
	color: rgb(62, 62, 68);
	background: rgb(118, 215, 210);
	border-radius: 2px;
	border: 2px solid rgb(118, 215, 210);
	transition: all 0.2s ease-out;
} 
.lbl-toggle-e:hover 
{
	color: white;
	background: rgb(62, 62, 68);
    border: 2px solid white;
}
.lbl-toggle-e::before 
{
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle-e::before 
{
	transform: rotate(90deg) translateX(-3px);
}
.collapsible-content 
{
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
	max-width: 80%;
	margin-left: 10%;
}
.toggle:checked + .lbl-toggle-e + .collapsible-content 
{
	max-height: 100vh;
} 
.toggle:checked + .lbl-toggle-e 
{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.content-inner
{
	margin-left: 10%;
}
/* math-box */
.lbl-toggle-m 
{
	display: block;
  	text-align: left;
	padding: 1px;
	width: 70%;
	margin:10px auto;
	color: rgb(62, 62, 68);
	background: rgb(118, 215, 171);
	border-radius: 2px;
	border: 2px solid rgb(118, 215, 171);
	transition: all 0.2s ease-out;
} 
.lbl-toggle-m:hover 
{
	color: white;
	background: rgb(62, 62, 68);
    border: 2px solid white;
}
.lbl-toggle-m::before 
{
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle-m::before 
{
	transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle-m + .collapsible-content 
{
	max-height: 100vh;
} 
.toggle:checked + .lbl-toggle-m 
{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
/* trans-box */
.lbl-toggle-t 
{
	display: block;
  	text-align: left;
	padding: 1px;
	width: 70%;
	margin:10px auto;
	color: rgb(62, 62, 68);
	background: rgb(215, 145, 118);
	border-radius: 2px;
	border: 2px solid rgb(215, 145, 118);
	transition: all 0.2s ease-out;
} 
.lbl-toggle-t:hover 
{
	color: white;
	background: rgb(62, 62, 68);
    border: 2px solid white;
}
.lbl-toggle-t::before 
{
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle-t::before 
{
	transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle-t + .collapsible-content 
{
	max-height: 100vh;
} 
.toggle:checked + .lbl-toggle-t 
{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
/* other-box */
.lbl-toggle-o 
{
	display: block;
  	text-align: left;
	padding: 1px;
	width: 70%;
	margin:10px auto;
	color: rgb(62, 62, 68);
	background: rgb(215, 209, 118);
	border-radius: 2px;
	border: 2px solid rgb(215, 209, 118);
	transition: all 0.2s ease-out;
} 
.lbl-toggle-o:hover 
{
	color: white;
	background: rgb(62, 62, 68);
    border: 2px solid white;
}
.lbl-toggle-o::before 
{
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle-o::before 
{
	transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle-o + .collapsible-content 
{
	max-height: 100vh;
} 
.toggle:checked + .lbl-toggle-o 
{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/* ------ */
/* TITLES */
/* ------ */
.titles-gen
{
    display: inline-block;
    margin-left: 10%;
}
.titles-list
{
    margin-left: 12%;
}
.titles-sem
{
    display: inline-block;
    margin-left: 15%;
}
.data-link 
{
	color: white;
}

.colorb
{
    color: rgb(62, 62, 68);
}