* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(62, 62, 68);
    color: white;
    background-size: cover;
    background-position: center;
}

.menu-bar{
    background: white;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    margin: 20px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.active, .menu-bar ul li:hover{
    background: rgb(188, 188, 192);
    border-radius: 10px;
}
.menu-bar .fa{
    scroll-margin-right: 10px;
}